@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
   margin: 0;
  font-family: 'Inter', sans-serif;
  background: #0f172a;
  color: white;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}
